<header class="header">
    <h1>todos</h1>
    <form id="task" method="POST">
        <input class="new-todo" name="title" placeholder="What needs to be done?" autofocus/>
    </form>
</header>
{% if arraySize(todos) > 0 %}
<section class="main">
    <input class="toggle-all" type="checkbox" (click)="{{ toggleAll() }} "/>
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
        {% for todo in todos %}
        <li class="{{ classForIsCompleted(todo) + ' ' + classForIsEditing(todo) }}">
            <div class="view">
                <input class="toggle" type="checkbox" checked="{{ todo.completed }}"/>
                <label (dblclick)="{{ editTodo(ev, todo, editedTodo) }}">{{ todo.title }}</label>
                <button class="destroy"></button>
            </div>
            <input #editedTodo class="edit" type="text" value="{{ todo.title }}"
                   (blur)="{{ finishEditingTodo(todo) }}"/>
        </li>
        {% endfor %}
    </ul>
</section>
<div>
    <ul>
        {% for todo in todos %}
        <li>
            {% if todo.completed %}
            √
            {% else %}
            x
            {% endif %}
            {{ todo.title }} / {{ capitalize(todo.title) }} / {{ capitalizeTitle(todo).title }}
        </li>
        {% endfor %}
    </ul>
    <ul>
        {% for todo in todos %}
        <li>
            <input type="checkbox" checked="{{ todo.completed }}"/>
            {% if todo.completed %}
            √
            {% else %}
            x
            {% endif %}
            <input type="text" value="{{ todo.title }}"/>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if arraySize(allTodos) > 0 %}
<footer class="footer">
    <span class="todo-count">
        <strong>{{ leftTodosCount }}</strong>
        {% if leftTodosCount == 1 %}
        item
        {% else %}
        items
        {% endif %}
        left
    </span>
    <ul class="filters">
        <li>
            <a class="{{ classForFilter('all') }}" href="#/" (click)="{{ setFilter('all') }}">All</a>
        </li>
        <li>
            <a class="{{ classForFilter('active') }}" href="#/active" (click)="{{ setFilter('active') }}">Active</a>
        </li>
        <li>
            <a class="{{ classForFilter('completed') }}" href="#/completed" (click)="{{ setFilter('completed') }}">Completed</a>
        </li>
    </ul>
    {% if arraySize(completed) > 0 %}
    <button class="clear-completed">Clear completed</button>
    {% endif %}
</footer>
{% endif %}
